body {
	padding: 0;
	font-family: Helvetica;
}

#diva-wrapper {
	width: 720px;
	margin: 0 auto;
}

#diva-inner {
	color: #000;
	position: relative;
	overflow: hidden; /* x-scroll adds to the height, figure out later */
	/*cursor: pointer; /* or move */*/
}

#diva-outer {
	position: relative;
	height: 700px;
	width: 720px; /* hack to get rid of the horizontal scrollbar ... */
	overflow: auto;
	margin: 0 auto;
	background-color: #F1F1F1;
	border: 1px solid #99BBE8;
}

div[id^="diva-page"] {
	position: absolute; /*test */
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0, .5);
    -moz-box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
    /* Loading image, in the center of the page */
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
}

#diva-zoomer {
	margin: 10px;
	font-size: 62.5%;
	width: 100px;
    float: left;
}

#diva-goto {
	text-align: right;
}
	
#diva-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}

.grab {
    cursor: url('../img/openhand.cur'), pointer !important;
}

.grabbing {
    cursor: url('../img/closedhand.cur'), move !important;
}

.fullscreen {
    width: 100% !important;
    height: 100% !important;
    z-index: 9000;
    position: absolute !important;
    top: 0;
    left: 0;
}

#diva-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url('../img/fullscreen.png');
    background-repeat: no-repeat;
    z-index: 9001;
    cursor: pointer;
}
