body {
	padding: 0;
	font-family: Helvetica;
}

#diva-one {
	width: 600px;
    float: left;
    position: relative;
}

#diva-two {
    width: 600px;
    float: right;
    position: relative;
}

div[id$="diva-inner"] {
	color: #000;
	position: relative;
	overflow: hidden; /* x-scroll adds to the height, figure out later */
	/*cursor: pointer;*/
}

div[id$="diva-outer"] {
	position: relative;
	height: 700px;
	width: 600px; /* hack to get rid of the horizontal scrollbar ... */
	overflow: auto;
	margin: 0 auto;
	background-color: #F1F1F1;
	border: 1px solid #99BBE8;
}

.diva-page {
	position: absolute; /*test */
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0, .5);
    -moz-box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
    /* Loading image, in the center of the page */
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
}

div[id$="diva-zoom-slider"] {
	margin: 10px;
	font-size: 62.5%;
	width: 100px;
    float: left;
}

div[id$="diva-goto-page"] {
	text-align: right;
}
	
div[id$="diva-title"] {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}

.grab {
    cursor: url('../img/openhand.cur'), pointer !important;
}

.grabbing {
    cursor: url('../img/closedhand.cur'), move !important;
}

.fullscreen {
    width: 100% !important;
    height: 100% !important;
    z-index: 9000;
    position: fixed !important;
    top: 0;
    left: 0;
}

div[id$="diva-fullscreen"] {
    position: absolute;
    z-index: 8999; /* So that other viewers on the same page don't interfere */
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url('../img/fullscreen.png');
    background-repeat: no-repeat;
    cursor: pointer;
}
