## ------------------------------------------------------------------------ ##
## NOTE: Changes to this file should usually also be applied to .npmignore  ##
## ------------------------------------------------------------------------ ##

*.swp
*.pyc
*dev.html
todo.md
!TODO.md
test-results/
playwright-report/
.DS_Store
tags

# IntelliJ things
/.idea/
*.iml

/node_modules/
/coverage/
cache
elm-stuff
.hugo_build.lock
public
release
