<section id="footer">
    <div class="container">
        <footer>
        <div class="row">
            <div class="col-md-12 footnav">
                <nav>
                    <ul>
                        <li><a href="{{ site.baseurl }}about/">About</a></li>
                        <li><a href="{{ site.baseurl }}getting-started/">Getting Started</a></li>
                        <li><a href="{{ site.baseurl }}try/">Try It</a></li>
                        <li><a href="http://github.com/DDMAL/diva.js/wiki">Documentation</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="http://ddmal.music.mcgill.ca"><img src="{{ site.baseurl }}img/ddmal-logo.png" alt="Distributed Digital Music Archives and Libraries" /></a>
                <p>2014 Distributed Digital Music Archives and Libraries</p>
            </div>
        </div>
        </footer>
    </div>
</section>
