<section id="footer">
    <div class="container">
        <footer>
        <div class="row">
            <div class="col-md-12 footnav">
                <nav>
                    <ul>
                        <li><p>Diva.js</p></li>
                        <li><a href="{{ site.baseurl }}about/">About</a></li>
                        <li><a href="{{ site.baseurl }}download/">Download</a></li>
                        <li><a href="{{ site.baseurl }}try/">Try It</a></li>
                        <li><a href="{{ site.baseurl }}doc/">Documentation</a></li>
                        <li><a href="https://github.com/DDMAL/diva.js">GitHub</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="http://ddmal.music.mcgill.ca"><img src="{{ site.baseurl }}img/ddmal-logo.png" alt="Distributed Digital Music Archives and Libraries" /></a>
                <p>2016 Distributed Digital Music Archives and Libraries</p>
            </div>
            <div class="col-md-12 text-center citation">
                <strong>Book/document images:</strong>
                <p>St. Gallen, Stiftsbibliothek, Cod. Sang. 390: Antiphonarium officii (Antiphonary for liturgy of the hours)
                (<a href="http://www.e-codices.unifr.ch/en/list/one/csg/0390">http://www.e-codices.unifr.ch/en/list/one/csg/0390</a>)</p>
            </div>
        </div>
        </footer>
    </div>
</section>
