<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/"><img src="/img/diva-logo-sm.png" /></a>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
            <li><a href="{{ site.url }}/getting-started/">Getting Started</a></li>
            <li><a href="{{ site.url }}/try/">Try It</a></li>
            <li><a href="http://github.com/DDMAL/diva.js/wiki">Documentation</a></li>
            <li><a href="{{ site.url }}/about/">About</a></li>
        </ul>
    </div>
</nav>
