<nav class="navbar navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}img/diva-logo-sm.png" /></a>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
            <li><a href="{{ site.baseurl }}try/">Try It</a></li>
            <li><a href="{{ site.baseurl }}download/">Download</a></li>
            <li><a href="{{ site.baseurl }}doc/">Documentation</a></li>
            <li><a href="{{ site.baseurl }}about/">About</a></li>
        </ul>
    </div>
</nav>
