// Colours
@white:                 #FFF;
@mediumGrey:            #CCC;
@grey:                  #DDD;
@lightGrey:             #F1F1F1;
@lighterGrey:           #FDFDFD;
@primaryBorder:         #AAA;

// Location of icon images (these are inlined using data-uri())
@iconPath:              "../img/";

// Customising the colour scheme
@viewerBg:              @lightGrey;
@pageBg:                @lighterGrey;
@viewerFrame:           @primaryBorder;
@toolsBg:               @white;
@toolsFrame:            @grey;
@buttonBg:              @lightGrey;
@buttonFrame:           @primaryBorder;
@buttonHover:           @lighterGrey;
@linkBg:                @white;
@linkFrame:             @grey;
@sliderBg:              @lighterGrey;
@sliderFrame:           @grey;
@handleBg:              @lighterGrey;
@handleFrame:           @mediumGrey;
@handleHoverBg:         lighten(@primaryBorder, 20%);
@handleHoverFrame:      darken(@primaryBorder, 10%);
@handleActiveBg:        lighten(@primaryBorder, 25%);
@handleActiveFrame:     @primaryBorder;

// z-index information
@fullscreenZIndex:      100;

// Dimensions
@pluginIconSize:        25px;
@fullscreenIconSize:    26px;
@throbberWidth:         50px;
@throbberHeight:        50px;
@toolbarGroupMargin:    0.7em;

@buttonSize: 32px;
@borderSize: 1px;
