* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
}

#diva-wrapper {
    max-width: 9995px;
    margin: 0 auto;
    padding: 0 13px;
}

.double-viewer {
    position: relative;
    width: 430px;
}

#diva-one {
    float: left;
}

#diva-two {
    float: right;
}

.double-viewer .diva-outer {
    height: 500px;
    min-width: 310px;
    max-width: 450px;
}

#integrated-viewer {
    margin-bottom: 20px;
}

#integrated-viewer .diva-outer {
    height: 500px;
}

h1 {
    font-size: 3.5em;
    margin-top: 40px;
    margin-bottom: 10px;
}

p {
    padding: 15px 0px;
}
