<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Diva.js - {{page.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap.min.css">

    <!-- diva.js includes -->
    <link rel="stylesheet" href="{{ site.baseurl }}try/css/diva.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
    <style type="text/css">
        #diva-canvas-buttons div {
            width: 30px;
            height: 30px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ site.baseurl }}try/js/diva.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#diva-wrapper').diva({
                fixedHeightGrid: false,
                objectData: "{{ site.baseurl }}try/demo/beromunster-iiif.json",
                enableCanvas: true,
                enableDownload: true
            });
        });
    </script>

    <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->
</head>
<body>
{% include nav.html %}
{{ content }}
{% include footer.html %}
{% include diva-scripts.html %}
</body>
</html>

