<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Diva.js - {{page.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap.min.css">

    <!-- diva.js includes -->
    <link rel="stylesheet" href="{{ site.baseurl }}try/css/diva.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
    <style type="text/css">
        .diva-fullscreen-tools {
            width: 300px !important;
            height: 110px !important;
        }
        #diva-canvas-buttons div {
            width: 30px;
            height: 30px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ site.baseurl }}try/js/diva.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#diva-wrapper').diva({
                enableAutoTitle: false,
                blockMobileMove: false,
                enableAutoHeight: false,
                enableAutoWidth: false,
                fixedHeightGrid: false,
                iipServerURL: "http://diva.simssa.ca/fcgi-bin/iipsrv.fcgi",
                objectData: "{{ site.baseurl }}try/demo/beromunster.json",
                imageDir: "/srv/images/beromunster",
                enableHighlight: true
            });

            diva.Events.subscribe('ViewerDidLoad', function()
            {
                var dv = $('#diva-wrapper').data('diva');
                dv.gotoPageByIndex(11);
            });

            $('#highlight-button').on('click', function()
            {
                var dv = $('#diva-wrapper').data('diva');

                // remove any previous highlights
                dv.resetHighlights();

                var j = dv.getNumberOfPages();
                /*  Regions are highlighted according to their position on the original
                    page image, which is typically at the maximum zoom level. To highlight
                    random regions on the page, we first need the maximum page dimensions
                    to ensure we place the regions within the page.
                */
                while (j--)
                {
                    var maxZoomLevel = dv.getMaxZoomLevelForPage(j);
                    var pageDims = dv.getPageDimensionsAtZoomLevel(j, maxZoomLevel);

                    var pageWidth = pageDims.width;
                    var pageHeight = pageDims.height;
                    var randomNumberOfRegions = Math.round(Math.random() * (20 - 10) + 10);  // random number of regions between 10 & 30

                    regions = [];
                    while (randomNumberOfRegions--)
                    {
                        var rand_x = Math.round(Math.random() * (pageWidth - 400));
                        var rand_y = Math.round(Math.random() * (pageHeight - 400));
                        var rand_w = Math.round((Math.random() * 300) + 100);  // random width between 100 & 400
                        var rand_h = Math.round((Math.random() * 130) + 70);   // random height between 200 & 70

                        regions.push({'width': rand_w, 'height': rand_h, 'ulx': rand_x, 'uly': rand_y});
                    }
                    dv.highlightOnPage(j, regions);
                }
            });
        });
    </script>

    <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->
</head>
<body>
{% include nav.html %}
{{ content }}
{% include footer.html %}
{% include diva-scripts.html %}
{% include divasingle.html %}
</body>
</html>

