<!doctype html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Diva.js Demo Page</title>
            <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap.min.css">
            <!-- diva.js includes -->
            <link rel="stylesheet" href="{{ site.baseurl }}try/css/diva.css" />
            <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
            <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script src="{{ site.baseurl }}try/js/diva.js"></script>
            <script src="{{ site.baseurl }}try/js/plugins/manipulation.js"></script>
            <script src="{{ site.baseurl }}try/js/plugins/download.js"></script>
            <script src="{{ site.baseurl }}try/js/plugins/metadata.js"></script>

            <style>
            #menu {
                margin: 0 auto;
                font-size: 1.5em;
            }
            </style>
            <script type="text/javascript">
                $(document).ready(function()
                {
                    if (window.location.protocol === "https:")
                    {
                        var httpUrl = (window.location + '').replace(/^https/, 'http');

                        $('#menu').after(
                                '<div style="max-width: 500px;margin:auto;padding:10px;">' +
                                'You are viewing this page through an HTTPS connection. ' +
                                'Some of the external manifests will not be displayed ' +
                                'correctly. ' +
                                '<a href="' + httpUrl + '" style="font-weight: 700;">Switch to HTTP.</a>' +
                                '</div>'
                        );
                    }

                    let diva = new Diva('diva-wrapper', {
                        objectData: "http://gallica.bnf.fr/iiif/ark%3A/12148/btv1b6000531z.r/manifest.json/",
                        plugins: [Diva.DownloadPlugin, Diva.ManipulationPlugin, Diva.MetadataPlugin],
                        fixedHeightGrid: true
                    });

                    var selectObject = $('#object-select');
                    selectObject.on('change', function()
                    {
                        diva.changeObject(selectObject.val());
                    });

                    $('#orientation').on('click', function()
                    {
                        diva.toggleOrientation();
                    })
                });
            </script>
        </head>
        <body>
            {% include nav.html %}
            {{ content }}
            {% include footer.html %}
            {% include diva-scripts.html %}
        </body>
    </html>
